<!DOCTYPE html>
<html>
<head>
    <title>HTML Form with Get Method Example</title>
</head>
<body>
<form method="post">
{% csrf_token %}


Select your favorite color:
<input type="time" name="favcolor"> 
<input type="tel" name="favcolor"> 
<input type="search" name="favcolor"> 
<input type="url" name="favcolor">
<input type="week" name="favcolor"> 
<input type="range" name="favcolor">  
<input type="number" name="favcolor"> 
<input type="month" name="favcolor"> 
<input type="email" name="favcolor"> 

</form>
</body>
</html>